<div class="main probrem-show">
  <div class="container">
    <div class="probrems-show-item">
      <p>
        <%= @probrem.content %>
        <%= link_to("解けた！", "..", class: "prebrem-solve-button") %>
      </p>
    </div>
  </div>
</div>