<!DOCTYPE html>
<html>
<head>
  <title>User Relationship Count</title>
</head>
<body class="ranking-body">
  <h1>Ranking</h1>
  <table>
    <tr>
      <th>User ID</th>
      <th>解いた問題数</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.relationships.count %></td>
      </tr>
    <% end %>
  </table>
</body>
</html>
