<div class="box-top">
  <p class="top-centered-text">MiniAlgoへようこそ！</p>
  <ul class="intro-text">
    <li>MiniAlgoは、アルゴ式のオンラインジャッジを搭載していない、簡易版のサイトです。</li>
    <li>問題は、ランダムに作成されています。</li>
    <li>ランキング機能を搭載しており、仲間の成績を見ることができます。</li>
  </ul>
  <%= image_tag 'home.png', alt: 'Home', class: 'top-centered-image' %>
</div>
